# Docker Registry (Optional: Define to tag images for pushing)
# REGISTRY=registry.gitlab.com
# IMAGE_NAME=my_team/orbbec_image

# Network
ROS_DOMAIN_ID=39
# Network Mode (Options: robot, local)
DEPLOYMENT_ENV=robot

# Camera Parameters
CAMERA_NAME=orbbec_external
SERIAL_NUMBER=CL8K14100FS
DEVICE_NUM=2
COLOR_WIDTH=1280
COLOR_HEIGHT=720
ORDERED_PC=true
COLOR_EXPOSURE=150


# Static Transform Publisher
PUBLISH_TF=true
TF_X=1.34
TF_Y=-0.068
TF_Z=0.41
TF_YAW=3.14159
TF_PITCH=0.6
TF_ROLL=0.0
TF_PARENT_FRAME=panda_link0