<?xml version="1.0"?>
<launch>
    <include file="$(find-pkg-share orbbec_camera)/launch/femto_bolt.launch.py">
        <!-- unique camera name-->
        <arg name="camera_name" value="tiago_head_camera_down" />
        <!-- Hardware depth registration -->
        <arg name="depth_registration" value="true" />
        <arg name="serial_number" value="CL8MB3300AL" />
        <arg name="enable_colored_point_cloud" value="true" />
        <arg name="color_width" value="1280" />
        <arg name="color_height" value="720" />
        <arg name="depth_width" value="640" />
        <arg name="depth_height" value="576" />
        <arg name="ir_width" value="640" />
        <arg name="ir_height" value="576" />
        <arg name="device_num" value="2" />
        <arg name="sync_mode" value="free_run" />
        <arg name="ordered_pc" value="true"/>
    </include>

    <!-- Publish the static transform attaching the camera to the robot -->
    <node pkg="tf2_ros"
        exec="static_transform_publisher"
        name="camera_to_robot"
        args="0.125 -0.005 1.293 0 0.785398163 0.0 opensot/base_footprint tiago_head_camera_down_link"
    />

    <include file="$(find-pkg-share orbbec_camera)/launch/femto_bolt.launch.py">
        <!-- unique camera name-->
        <arg name="camera_name" value="tiago_head_camera_front" />
        <!-- Hardware depth registration -->
        <arg name="depth_registration" value="true" />
        <arg name="serial_number" value="CL8FC310085" />
        <arg name="enable_colored_point_cloud" value="true"/>
        <arg name="color_width" value="1280"/>
        <arg name="color_height" value="720"/>
        <arg name="depth_width" value="640"/>
        <arg name="depth_height" value="576"/>
        <arg name="ir_width" value="640"/>
        <arg name="ir_height" value="576"/>
        <arg name="device_num" value="2"/>
        <arg name="sync_mode" value="free_run"/>
        <arg name="tf_publish_rate" value="10.0" />
        <arg name="ordered_pc" value="true" />
    </include>

    <!-- Publish the static transform attaching the camera to the robot -->
    <node pkg="tf2_ros"
        exec="static_transform_publisher"
        name="head_to_front_camera"
        args="0.135 -0.008 1.39 0 0 0 opensot/base_footprint tiago_head_camera_front_link"
    />
</launch>
