<?xml version="1.0"?>
<launch>

    <include file="$(find-pkg-share orbbec_camera)/launch/femto_bolt.launch.py">
        <!-- unique camera name-->
        <arg name="camera_name" value="orbbec_external_franka" />
        <!-- Hardware depth registration -->
        <arg name="depth_registration" value="true" />
        <arg name="serial_number" value="CL8K14100FS" />
        <arg name="enable_colored_point_cloud" value="true" />
        <arg name="color_width" value="1280" />
        <arg name="color_height" value="720" />
        <arg name="depth_width" value="640"/>
        <arg name="depth_height" value="576"/>
        <arg name="ir_width" value="640" />
        <arg name="ir_height" value="576" />
        <arg name="device_num" value="2" />
        <arg name="sync_mode" value="free_run" />
        <arg name="tf_publish_rate" value="90.0" />
        <arg name="ordered_pc" value="true" />
        <arg name="color_fps" value="30"/>
        <arg name="depth_fps" value="30"/>
        <arg name="ir_fps" value="30"/>
        <arg name="enable_color_auto_exposure" value="false" />
        <arg name="enable_ir_auto_exposure" value="false" />
        <arg name="color_exposure" value="150" />

    </include>

    <!-- Publish the static transform attaching the camera to the robot -->
    <node pkg="tf2_ros" exec="static_transform_publisher" name="panda_to_camera"
        args="0.7 0.005 0.12 3.14159 0.3 0. panda_link0 orbbec_external_franka_link" />
</launch>